.waren-container {
  width: 70%;
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  margin: 70px auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
}

.sorted-buttons {
  width: 100%;
  display: flex;
  align-items: baseline;
}
