.about-container {
  width: 70%;
  background-color: #fffadd;
  border-radius: 20px;
  margin: 0 auto;
  padding: 50px;
}

.anmelden-container h2 {
  text-align: center;
  margin-bottom: 40px;
}

.firstPic {
  width: 300px;
  float: left;
  margin-right: 30px;
  margin-bottom: 30px;
}

.secondPic {
  width: 150px;
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

.about-container p {
  text-align: justify;
  hyphens: auto;
}

@media (max-width: 1200px) {
  .about-container {
    .firstPic {
      float: none;
      width: inherit;
      display: block;
      margin: 0 auto 30px;
    }

    .secondPic {
      display: none;
    }
  }
}
