.contact-container {
  width: 70%;
  background-color: #c3fbd8;
  border-radius: 20px;
  margin: 0 auto;
  padding: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

.column-container {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 45%;
}

h3 {
  margin-top: 25px;
  margin-bottom: 10px;
}

p {
  color: hsl(0, 0%, 30%);
  line-height: 25px;
}

span {
  font-weight: 600;
}

.medien-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.react-icons {
  color: hsl(0, 0%, 30%);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.react-icons:hover {
  color: black;
}

@media (max-width: 1200px) {
  .contact-container {
    padding: 25px;
    .column-container {
      display: block;
      .column {
        width: 100%;
      }
    }
  }
}
