.header-container {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 70px;
}

.header-left,
.header-right {
  width: 40%;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.header-right > div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

h4 {
  cursor: pointer;
  margin: 10px;
  color: hsl(0, 0%, 50%);
}

h4.selected {
  color: black;
}

img {
  width: 100px;
}
